.posts-description {
    margin: 0 4px;
}

html {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

.logo-wrapper,
.recent-posts-wrapper {
    display: grid;
    justify-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


$color-gray-one: #666666;
$color-gray-two: #B3B3B3;
$color-gray-three: #D8D8D8;
$color-blue-one: #0079FF;
$color-error: #ff0000;

.no-content {
    color: $color-gray-one;
    font-size: 14px;
    line-height: 17px;
}

.no-matches {
    color: $color-error;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

@import './mixins';
@import './searchbar';
@import './recent-posts';
@import './home';
@import './results';